<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="mt-5 col-12 text-center">
                    <p style="padding: 5px">kocaeli Üniversitesi 2023 -2024 </p>
                    <p> Bilişim Sistemleri Mühendisliği YL </p>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Design Patterns Project </p>
                </div>
            </div>
        </div>
    </div>
</footer>
